In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [62]:
# Reading in the gross revenue data frame
Gross_rev = pd.read_csv("data/zippeddata/bom.movie_gross.csv.gz")

In [65]:
# sorted by domestic gross and dropped na values 
Sorted_Movies_Titles = Gross_rev.sort_values(by='domestic_gross', ascending=False).dropna()

In [70]:
# Got the top 50 highest grossing movies
top_50_gross = Sorted_Movies_Titles
top_50_gross

                             title  studio  domestic_gross foreign_gross  year
1872  Star Wars: The Force Awakens      BV     936700000.0       1,131.6  2015
3080                 Black Panther      BV     700100000.0     646900000  2018
3079        Avengers: Infinity War      BV     678800000.0       1,369.5  2018
1873                Jurassic World    Uni.     652300000.0       1,019.4  2015
727          Marvel's The Avengers      BV     623400000.0     895500000  2012
...                            ...     ...             ...           ...   ...
1738                       Jackpot      DR           800.0       1100000  2014
292               Perrier's Bounty     IFC           800.0        167000  2010
2920     Amityville: The Awakening  W/Dim.           700.0       7700000  2017
642                 Illegal (2011)      FM           700.0        289000  2011
1018                 Apartment 143   Magn.           400.0        426000  2012

[2007 rows x 5 columns]

In [71]:
Movie_budget = pd.read_csv('data/zippedData/tn.movie_budgets.csv.gz')
Movie_budget

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [75]:
merged_df = top_50_gross.merge(right= Movie_budget, how = 'inner', left_on = 'title', right_on = 'movie', suffixes=('_rounded','_budget')).head(50)

In [76]:
merged_df

,title,studio,domestic_gross_rounded,foreign_gross,year,id,release_date,movie,production_budget,domestic_gross_budget,worldwide_gross
0,Black Panther,BV,700100000.0,646900000,2018,42,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224"
1,Avengers: Infinity War,BV,678800000.0,"1,369.5",2018,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
2,Jurassic World,Uni.,652300000.0,"1,019.4",2015,34,"Jun 12, 2015",Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864"
3,Incredibles 2,BV,608600000.0,634200000,2018,44,"Jun 15, 2018",Incredibles 2,"$200,000,000","$608,581,744","$1,242,520,711"
4,Rogue One: A Star Wars Story,BV,532200000.0,523900000,2016,45,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856"
5,Finding Dory,BV,486300000.0,542300000,2016,46,"Jun 17, 2016",Finding Dory,"$200,000,000","$486,295,561","$1,021,215,193"
6,Avengers: Age of Ultron,BV,459000000.0,946400000,2015,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
7,The Dark Knight Rises,WB,448100000.0,636800000,2012,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
8,The Hunger Games: Catching Fire,LGF,424700000.0,440300000,2013,38,"Nov 22, 2013",The Hunger Games: Catching Fire,"$130,000,000","$424,668,047","$864,868,047"
9,Jurassic World: Fallen Kingdom,Uni.,417700000.0,891800000,2018,13,"Jun 22, 2018",Jurassic World: Fallen Kingdom,"$170,000,000","$417,719,760","$1,305,772,799"
10,Toy Story 3,BV,415000000.0,652000000,2010,47,"Jun 18, 2010",Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522"
11,Wonder Woman,WB,412600000.0,409300000,2017,55,"Jun 2, 2017",Wonder Woman,"$150,000,000","$412,563,408","$821,133,378"
12,Iron Man 3,BV,409000000.0,805800000,2013,48,"May 3, 2013",Iron Man 3,"$200,000,000","$408,992,272","$1,215,392,272"
13,Captain America: Civil War,BV,408100000.0,745200000,2016,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
14,The Hunger Games,LGF,408000000.0,286400000,2012,38,"Mar 23, 2012",The Hunger Games,"$80,000,000","$408,010,692","$677,923,379"
15,Jumanji: Welcome to the Jungle,Sony,404500000.0,557600000,2017,38,"Dec 20, 2017",Jumanji: Welcome to the Jungle,"$90,000,000","$404,508,916","$964,496,193"
16,Frozen,BV,400700000.0,875700000,2013,56,"Nov 22, 2013",Frozen,"$150,000,000","$400,738,009","$1,272,469,910"
17,The Secret Life of Pets,Uni.,368400000.0,507100000,2016,26,"Jul 8, 2016",The Secret Life of Pets,"$75,000,000","$368,384,330","$886,750,534"
18,Despicable Me 2,Uni.,368100000.0,602700000,2013,22,"Jul 3, 2013",Despicable Me 2,"$76,000,000","$368,065,385","$975,216,835"
19,Deadpool,Fox,363100000.0,420000000,2016,56,"Feb 12, 2016",Deadpool,"$58,000,000","$363,070,709","$801,025,593"
20,Inside Out,BV,356500000.0,501100000,2015,98,"Jun 19, 2015",Inside Out,"$175,000,000","$356,461,711","$854,235,992"
21,Furious 7,Uni.,353000000.0,"1,163.0",2015,67,"Apr 3, 2015",Furious 7,"$190,000,000","$353,007,020","$1,518,722,794"
22,Transformers: Dark of the Moon,P/DW,352400000.0,771400000,2011,64,"Jun 29, 2011",Transformers: Dark of the Moon,"$195,000,000","$352,390,543","$1,123,790,543"
23,American Sniper,WB,350100000.0,197300000,2014,57,"Dec 25, 2014",American Sniper,"$58,000,000","$350,126,372","$547,326,372"
24,Zootopia,BV,341300000.0,682500000,2016,57,"Mar 4, 2016",Zootopia,"$150,000,000","$341,268,248","$1,019,429,616"
25,The Hunger Games: Mockingjay - Part 1,LGF,337100000.0,418200000,2014,62,"Nov 21, 2014",The Hunger Games: Mockingjay - Part 1,"$125,000,000","$337,135,885","$766,575,131"
26,Minions,Uni.,336000000.0,823400000,2015,73,"Jul 10, 2015",Minions,"$74,000,000","$336,045,770","$1,160,336,173"
27,Aquaman,WB,335100000.0,812700000,2018,36,"Dec 21, 2018",Aquaman,"$160,000,000","$335,061,807","$1,146,894,640"
28,Spider-Man: Homecoming,Sony,334200000.0,546000000,2017,99,"Jul 7, 2017",Spider-Man: Homecoming,"$175,000,000","$334,201,140","$880,166,350"
29,Guardians of the Galaxy,BV,333200000.0,440200000,2014,14,"Aug 1, 2014",Guardians of the Galaxy,"$170,000,000","$333,172,112","$770,867,516"
30,Batman v Superman: Dawn of Justice,WB,330400000.0,543300000,2016,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
31,It,WB (NL),327500000.0,372900000,2017,24,"Sep 8, 2017",It,"$35,000,000","$327,481,748","$697,457,969"
32,Suicide Squad,WB,325100000.0,421700000,2016,100,"Aug 5, 2016",Suicide Squad,"$175,000,000","$325,100,054","$746,059,887"
33,Deadpool 2,Fox,318500000.0,460500000,2018,15,"May 18, 2018",Deadpool 2,"$110,000,000","$324,591,735","$786,680,557"
34,Thor: Ragnarok,BV,315100000.0,538900000,2017,82,"Nov 3, 2017",Thor: Ragnarok,"$180,000,000","$315,058,289","$846,980,024"
35,Iron Man 2,Par.,312400000.0,311500000,2010,15,"May 7, 2010",Iron Man 2,"$170,000,000","$312,433,331","$621,156,389"
36,Skyfall,Sony,304400000.0,804200000,2012,52,"Nov 8, 2012",Skyfall,"$200,000,000","$304,360,277","$1,110,526,981"
37,The Hobbit: An Unexpected Journey,WB (NL),303000000.0,718100000,2012,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
38,The Twilight Saga: Eclipse,Sum.,300500000.0,398000000,2010,53,"Jun 30, 2010",The Twilight Saga: Eclipse,"$68,000,000","$300,531,751","$706,102,828"
39,Inception,WB,292600000.0,535700000,2010,38,"Jul 16, 2010",Inception,"$160,000,000","$292,576,195","$835,524,642"
40,Man of Steel,WB,291000000.0,377000000,2013,29,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
41,The Hunger Games: Mockingjay - Part 2,LGF,281700000.0,371700000,2015,39,"Nov 20, 2015",The Hunger Games: Mockingjay - Part 2,"$160,000,000","$281,723,902","$648,986,787"
42,Gravity,WB,274100000.0,449100000,2013,16,"Oct 4, 2013",Gravity,"$110,000,000","$274,092,705","$693,698,673"
43,Sing,Uni.,270400000.0,363800000,2016,29,"Dec 21, 2016",Sing,"$75,000,000","$270,329,045","$634,454,789"
44,Monsters University,BV,268500000.0,475700000,2013,53,"Jun 21, 2013",Monsters University,"$200,000,000","$268,488,329","$743,588,329"
45,Despicable Me 3,Uni.,264600000.0,770200000,2017,30,"Jun 30, 2017",Despicable Me 3,"$75,000,000","$264,624,300","$1,034,727,750"
46,The Amazing Spider-Man,Sony,262000000.0,495900000,2012,31,"Jul 3, 2012",The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267"
47,Captain America: The Winter Soldier,BV,259800000.0,454500000,2014,16,"Apr 4, 2014",Captain America: The Winter Soldier,"$170,000,000","$259,746,958","$714,401,889"
48,The Hobbit: The Desolation of Smaug,WB (NL),258399999.0,700000000,2013,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
49,The Hobbit: The Battle of the Five Armies,WB (NL),255100000.0,700900000,2014,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"

In [ ]:
domestic gross = [0.1, 17.5, 40, 48, 52, 69, 88]
production budget = [2, 8, 70, 1.5, 25, 12, 28]
index = ['snail', 'pig', 'elephant',
         'rabbit', 'giraffe', 'coyote', 'horse']
merged_df = pd.DataFrame({'speed': speed,
                   'lifespan': lifespan}, index=index)
ax = merged_df.plot.bar(rot=0)